<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.dronfieslabs.portableutmpilot">

    <application
        android:name=".SetupApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">
        <activity android:name=".ui.activities.SignUpActivity"></activity>
        <activity
            android:name=".ui.activities.ReportDevicePositionActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LightStyle" />
        <activity
            android:name=".ui.activities.LoginActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/LightStyle" />
        <activity
            android:name=".ui.activities.SelectDroneActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LightStyle" />
        <activity
            android:name=".ui.activities.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LightStyle" />
        <activity
            android:name=".ui.activities.DefinePolygonManuallyActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LightStyle" />
        <activity
            android:name=".ui.activities.OperationActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.DefinePolygonOnMapActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activities.AddOperationActivity"
            android:screenOrientation="portrait"
            android:theme="@style/LightStyle" />
        <activity
            android:name=".ui.activities.OperationsActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@style/LightStyle" />
        <activity
            android:name=".ui.activities.FreeFlightActivity"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".ui.activities.FlightActivity"
            android:screenOrientation="userLandscape" />
        <activity
            android:name=".ui.activities.SplashActivity"
            android:noHistory="true"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <!-- we include this child to open the app automatically when a drone is connected -->
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_ACCESSORY_ATTACHED"
                android:resource="@xml/accessory_filter" />
        </activity>
        <activity
            android:name=".ui.activities.SettingsActivity"
            android:theme="@style/LightStyle" /> <!-- GOOGLE MAPS SDK -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDt0p1-KH8EX7BdR3eukNwV6E1GnzMRp8w" />
        <meta-data
            android:name="com.dji.sdk.API_KEY"
            android:value="b54e4588dded80d19e600cc0" />

        <service android:name="dji.sdk.sdkmanager.DJIGlobalService" />

        <uses-library android:name="com.android.future.usb.accessory" />
    </application>
    <uses-feature
        android:name="android.hardware.camera.any"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="false" />

    <uses-feature
        android:name="android.hardware.usb.accessory"
        android:required="true" />
    <uses-permission android:name="android.permission.BLUETOOTH" /> <!-- <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" /> -->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

</manifest>